/* app.css */
@layer app {
  [data-mantine-color-scheme="dark"] [data-variant="default"] {
    --input-bd: var(--mantine-color-slate-8);
    --input-bg: var(--mantine-color-slate-9);
    --input-bd-focus: var(--mantine-primary-color-filled);
  }

  [data-mantine-color-scheme="dark"] [data-variant="filled"] {
    --input-bd: transparent;
    --input-bg: var(--mantine-color-dark-5);
    --input-bd-focus: var(--mantine-primary-color-filled);
  }

  [data-mantine-color-scheme="dark"] [data-variant="unstyled"] {
    --input-bd: transparent;
    --input-bg: transparent;
    --input-bd-focus: transparent;
  }

  .mantine-TextInput-input:read-only {
    background-color: transparent;
    border: none;
  }

  /* Inline labels from md+ */
  @media (min-width: 62em) {
    .mantine-InputWrapper-root[data-autosize] {
      display: grid;
      grid-template-columns: max-content 1fr;
      align-items: center;
      column-gap: 0.75rem; /* 12px-ish */
    }
    .mantine-InputWrapper-root[data-autosize] .mantine-InputWrapper-label {
      width: 5rem;
      font-size: 0.7rem !important;
      margin-bottom: 0 !important;
      justify-self: end;
      padding-right: 0.5rem;
      white-space: nowrap;
    }
    .mantine-InputWrapper-root[data-autosize] .mantine-InputWrapper-description,
    .mantine-InputWrapper-root[data-autosize] .mantine-InputWrapper-error {
      grid-column: 2 / 3;
    }
  }

  /* Per-field overrides */
  .mantine-InputWrapper-root[data-inline-label="true"] {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    column-gap: 0.75rem;
  }
  .mantine-InputWrapper-root[data-inline-label="true"] .mantine-InputWrapper-label {
    margin-bottom: 0 !important;
    justify-self: end;
    padding-right: 0.5rem;
    white-space: nowrap;
  }
  .mantine-InputWrapper-root[data-inline-label="true"] .mantine-InputWrapper-description,
  .mantine-InputWrapper-root[data-inline-label="true"] .mantine-InputWrapper-error {
    grid-column: 2 / 3;
  }

  .mantine-InputWrapper-root[data-inline-label="false"] {
    display: block;
  }
}
