# Node
node_modules/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store

# Env & secrets
.env
.env.*

#DDRs
ddrs/

# Build outputs
build/
dist/
coverage/
.cache/
public/build/

# Hosting/platform
.vercel/
.netlify/

# IDE/editor
.idea/
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json

# Temp
tmp/
.turbo/